<div class="container"style="background-color: antiquewhite; background-image: image('/home/miracle/Desktop/MeanApp/frontend/src/app/prof/closeup-portrait-young-professional-beautiful-260nw-220418767.jpg')" >
<h2 style="text-align: center">welcome to user</h2><br><br>
<div class="jumbotron">
<form class="form-group" (ngSubmit)="search(frm)" #frm="ngForm">
    <button type="submit" class="btn btn-success">Search</button>
</form>
<form class="form-group" (ngSubmit)="update(frm)" #frm="ngForm">
    <button type="submit" class="btn btn-success">Update</button>
</form>
<form class="form-group" (ngSubmit)="delete(frm)" #frm="ngForm">
    <button type="submit" class="btn btn-success">Delete</button>
</form>
</div>
<br><br><br><br><br><br><br><br><br><br>
</div>
