<html>
    <head>
        <title>Delete</title>
        <style>
                html{
                    background: url(18.jpg) no-repeat center fixed;
                    background-size: cover;
                }
                body { 
              color: rgb(41, 6, 6); 
            }
            </style>
    </head>
    <body>
            <center> <h1>Delete Operation</h1></center>
    <center><br><br><br>
        <form action="delete" method="POST" bgcolor="f0f0f0">
            <table bgcolor="f0f0f0">
            <tr><td>Name:</td><td><input type="text" name="name" required:"true"></td></tr>
            <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
        </form>
    </center>
    </body>
</html>