<html>
<head>
    <title>Home</title>
    <style>
    html{
        background: url(18.jpg) no-repeat center fixed;
        background-size: cover;
    }
    body { 
  color: rgb(41, 6, 6); 
}
</style>
</head>    
<body>
   <center> <h1>CRUD Operations</h1></center>
<center><br><br><br>
 <br><br><br><br><br><div><table bgcolor="f0f0f0">
        <th><td><a href="insert.html"><input type="submit" value="Insert"></a></td></th>
        <th><td><a href="update.html"><input type="submit" value="Update"></a></td></th>
        <th><td><a href="select.html"><input type="submit" value="Retrive"></a></td></th>
        <th><td><a href="delete.html"><input type="submit" value="Delete"></a></td></th>
    </table></div>
</center>

</body>
</html>

