<html>
    <head>
        <title>Insert</title>
        <style>
                html{
                    background: url(18.jpg) no-repeat center fixed;
                    background-size: cover;
                }
                body { 
              color: rgb(41, 6, 6); 
            }
            </style>
    </head>
    <body>
        <center> <h1>Create Operation</h1></center>
    <center><br><br><br>
        <form action="insert" method="POST">
        <table bgcolor="f0f0f0">
            <tr><td>Name:</td><td><input type="text" name="name" required></td></tr>
            <tr><td>age:</td><td><input type="number" name="age" required></td></tr>
            <tr><td>Email:</td><td><input type="email" name="email" required></td></tr>
            <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
        </form>
    </center>
    </body>
</html>